/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') */


/* General styles */
body {
    font-family: Montserrat;
    font-size: 1em;
}
/* header style */

.logo {

}

.menu-list {

}

.menu-item {

}

/* First screen */

.firsr-screen {
    background-image:url('/Freshcode/images/Frame\ 12146\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main-title {
    font-weight: 800;
    font-size: 4.06em;
}

.main-description {

}


.desc-header {
    font-weight: 400;
    font-size: 3.64em;
}

.desc-text {
    font-weight: 400;
    font-size: 1.1em;
}